* {
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #2E0014;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  height: 550px;
  width: 22%;
  background-color: #442220;
  border-radius: 10px;
  border: 3px solid #B0CA87;
  position: relative;
  overflow: hidden;
  
}

.stories {
    height: 100px;
    width: 100%;
    border-bottom: 3px solid #B0CA87;
    padding: 10px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.stories::-webkit-scrollbar {
    display: none;
}
/* This property hide the scroll-bar */


.story{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: linear-gradient( #ffa95f , #f99c4a , #f47838 , #e75157 , #d92d7a , #cc2a92 , #c32e92 );
    display: inline-block; 
    margin-right: 3px;
}

.story img{
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    filter: contrast(1.5);
    padding:3px;
}

.screen{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    display: none;
    z-index: 99;
    overflow: hidden;
}
