* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body{
    background-color: black;
    color: white;
    
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 20px 50px;
}

.left,
.center,
.right {
  display: flex;
}

.left li {
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 15px;
  padding: 7px 10px;
  font-weight: 600;
}

.center li {
  font-size: 28px;
  text-transform: uppercase;
}

.center img{
    height: 25px;
    width: 25px;
    
    position: absolute;
    top:3%;
    left: 40%;
  }


.right button {
  border: 1.5px solid rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 15px;
  padding: 7px 20px;
  font-weight: 530;
  background-color: white;
}

.right :nth-child(2) {
  background-color: rgb(255, 79, 37);
  color: white;
}

h1 {
  text-transform: uppercase;
  font-size: 130px;
  font-weight: 350;
  /* word-wrap: break-word; */
  position: absolute;

  top: 25%;
  transform: translate(30%, 50%);
}

img {
  height: 480px;
  width: 320px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  border-radius: 20px;
  right: 50%;
  transform: translate(50%, 10%);
}

.img-1 {
  transform: translate(50%, 10%) rotate(-45deg);
}
.img-2 {
  transform: translate(50%, 10%) rotate(-25deg);
}
.img-3 {
    transform: translate(50%, 10%) rotate(-15deg);  
}
.img-4 {
    transform: translate(50%, 10%) rotate(5deg);  

}


.footer h3{
    position: absolute;
    bottom: 5%;
    left:3%;
    font-weight: bolder;
}

.social{
    list-style: none;
    display: flex;
    gap:20px;
    position: absolute;
    bottom: 8%;
    right:5%;
}

.footer h4{
    position: absolute;
    bottom: 4%;
    right:3%;
    font-weight:bold;
}

