* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.qr-container {
  background-color: chartreuse;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:30px;
  gap: 25px;
  border-radius: 20px;
}

h2{
    font-size: 1.8rem;
    color: rgb(72, 139, 0);
    font-weight: bold;
}

.qr-input{
    width: 100%;
     padding:5px 10px ;
     border-radius: 10px;
     border: none;
     font-size: medium;
     color: #000;
}

.qr-btn{
    padding: 10px 20px;
    border-radius: 20px;
    background-color: cadetblue;
    font-size: medium;
    color: #fff;
    font-weight: 700;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all ease-out .8s;
}


.qr-btn:active {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }

  .qr-img {
   border-radius: 10px;
  }


