* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #250d0d;
  width: 100%;
  height: 100%;
  color: rgb(65, 0, 0);
}

h1 {
  text-align: center;
  margin: 20px;
  font-weight: bold;
  font-size: 2.5rem;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 3.5rem;
  background-color: rgb(216, 208, 208);
  border-radius: 10px;
}

input {
  background-color: transparent;
  border: 1px solid gray;
  padding: 15px 8rem 15px 2rem;
  color: rgb(65, 0, 0);
  font-weight: bolder;
  border-radius: 30px 0px 0px 30px;
  position: relative;
}

button {
  position: absolute;
  padding: 16px 1.8rem 16px;
  border-radius: 0px 30px 30px 0px;
  background-color: rgb(45, 29, 29);
  color: wheat;
  border: none;
  font-weight: bold;
  right: 30px;
  cursor: pointer;
}

.task-list {
  margin: 1.5em 0px;
  position: relative;
}

.task-list  li {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:0px 0px 20px 40px;
  list-style: none;
  font-size: large;
  font-weight: 600;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}


.task-list li.checked {
  text-decoration: line-through;
}

.task-list li::before {
    content: " ";
    height: 20px;
    width: 20px; 
    border:1px solid #250d0d; 
    border-radius: 50%;
    position: absolute;
    left: 0px; 
    top: 30%; 
    cursor: pointer;
    transform: translateY(-50%); 
}

.task-list li.checked::before{
  background-color: rgb(96, 0, 0);
  border: none;
}





